*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.con{
width: 100%;
display: flex;
justify-content: center;
}

.main{
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
    gap: 1.5em;
    margin: auto;
    border: black 5px solid;
    padding: 1.5em;
}

h1{
    font-size: 50px;
}